	#map{
	width: 800px;
	height: 750px;
	border: solid 0.5px red;
	}
	#marker-info{
		color: #51A8E0;
		background-color: #F9FAFB;
		font-size: 12pt;
		font-variant: small-caps;
		font-family; monospace sans-serif;
	}
	#marker-loc{
		color: black;
		font-size: 10pt;
		font-family: lucida console;
		font-style: bold;
		text-transform: uppercase;
	}

i{	 color:aqua;
    font-size: 10pt;
    padding-left: 5px;
    padding-right: 10px;
    font-family: fantasy;
	color: mediumvioletred;
	font-size: 10pt;
	font-family: serif;
}
#label-colors{
	width: 25px;
	height: 5px;
	padding-left: 5px;
	padding-right: 25px;
	margin-right: 15px;
}
.leaflet-right .leaflet-control {
    background-color: #cfd243;
}
.leaflet-container a {
    color: #050804;
	font-size: 13pt !important;
}